@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}
/* =================================nevigation start here================================ */
header{
    margin-top: 80px;
    
}

h4{
    font-size: 24px;
}
.container{
    width: 1110px;
    margin: 0 auto;

}
nav{
    display:flex ;
    justify-content: space-between;
}
.nevigation{
    display: flex;

  
}
.nevigation li{
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
    padding: 10px 0;
    color: black;
}
/* ======================nevigation end here =====================*/
/* =======================banner start here========================== */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  
}
h1{
    font-weight: bold;
    font-size: 50px;

}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-right img{
    margin-left: 102px;
}
.banner-right{
    overflow: hidden;
}
.banner-right img:hover{
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}

.primary-button {
background-color: #E02C6D;
font-weight:bold;
font-size: 16px;
padding: 10px 24px;
border: 1px solid  #E02C6D;
border-radius: 25px;
color: white;
margin-top: 15px;
cursor: pointer;

}

.logobar{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-content: center;
  border-top: 2px solid rgba(0, 0, 0, 0.116);
  border-bottom: 2px solid  rgba(0, 0, 0, 0.116);

  
}

.logobar img{
    padding: 30px;
}

/* Popular-Collection section start here */
.section-title{
    text-align: center;
    padding: 80px ;
    font-size: 28px;
    font-weight: 600;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.products{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}
.product-details{
    text-align: start;}
h3{
    font-size: 28px;
    font-weight: 500;
}
h5{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.fa-star,.fa-star-half-alt {
color:#FB8200;
font-size:12px;
}
small{
    font-size: 14px;
}
.product-tag{
    color: #787885;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}
a {
    text-decoration: none;
    color:#E02C6D ;
    text-align: end;
}

.see-more-btn{
    text-align: end;
    font-size: 16px;
    padding: 20px 0;
    margin-right: -65px;
}
/* Popular-Collection section end here 
======================================*/

/* conatct section start here */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.contact-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px;

}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid black;
}
/* footer start here*/
.fab{
    align-self: center;
    margin: 5px 16px;
    cursor: pointer;
}

.footer-text{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}
footer{
    text-align: center;
    background-color:#0A0826;
    color:white;
    margin-top:30px;
    height: 200px;
    padding:50px 0;
}




